@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.cdnfonts.com/css/segoe-script");

.font-title--sm {
  font-size: 32px;
  font-weight: 600;
  position: relative;
  text-transform: capitalize;
}

.font-body--xxl-500 {
  font-size: 20px;
  font-weight: 500;
}

.font-body--xl-500 {
  font-size: 18px;
  font-weight: 500;
}

.font-body--lg-400 {
  font-size: 16px;
  font-weight: 400;
}

.font-body--lg-600 {
  font-size: 16px;
  font-weight: 600;
}

.font-body--md-400 {
  font-size: 14px;
  font-weight: 400;
}

.font-body--md-500 {
  font-size: 14px;
  font-weight: 500;
}

.section {
  position: relative;
}

.justify-content-center {
  justify-content: center !important;
}

.section--xl {
  padding: 80px 0px;
}

.section--title-four {
  font-size: 28px;
  line-height: 38px;
  text-align: center;
  padding-bottom: 20px;
}

.section__head {
  flex-direction: column;
}

/** 1.1 Typography */
.font-title--sm {
  line-height: 38.4px;
}

@media (max-width: 767px) {

  .font-title--sm {
    font-size: 28px;
    line-height: 38px;
  }
}

.font-body--xxl-500 {
  line-height: 30px;
}

.font-body--xl-500 {
  line-height: 27px;
}

.font-body--lg-400,
.font-body--lg-600 {
  line-height: 24px;
}

.font-body--md-400,
.font-body--md-500 {
  line-height: 21px;
}


/* 1.2 General */
* {
  margin: 0;
  padding: 0;
}

img {
  border: 0;
  outline: 0;
  width: inherit;
  height: inherit;
  -o-object-fit: cover;
  object-fit: cover;
}

button {
  margin: 0;
  background: transparent;
  box-sizing: border-box;
}

button:focus {
  outline: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

a {
  display: inline-block;
}

h2,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

/** Buttons Component  */
.button {
  position: relative;
  font-size: 12px;
  border: 0;
  line-height: 15.6px;
  font-weight: 600;
  padding: 10px 24px;
  border-radius: 43px;
  color: #fff;
  background-color: #00b207;
  display: inline-block;
  transition: all 0.3s ease-in-out;
  text-transform: capitalize;
}

.button:hover {
  background-color: #2c742f;
}

.button--md,
.button--lg {
  font-weight: 600;
}

.button--md {
  font-size: 14px;
  line-height: 16.8px;
  padding: 14px 32px;
}

.button--md:hover {
  color: #fff;
}

.button--lg {
  font-size: 16px;
  line-height: 19.2px;
  padding: 16px 40px;
  text-align: center;
}

.button--disable {
  color: #00b207;
  background: rgba(86, 172, 89, 0.1019607843);
  pointer-events: none;
}

.button--disable:hover {
  color: #2c742f;
  background: rgba(44, 116, 47, 0.2);
}

@media (max-width: 767px) {
  .button--lg {
    padding: 16px 20px;
  }
}

/** Cards Component  */

/* NEEDED */
.bill-card {
  position: relative;
  width: 100%;
  padding: 24px;
  border: 1px solid #e5e5e5;
  border-radius: 8px;
  overflow: hidden;
}

@media (max-width: 767px) {
  .bill-card {
    padding: 16px;
  }
}

.bill-card__content {
  margin-bottom: 24px;
}

.bill-card__content:nth-last-child(1) {
  margin-bottom: 0px;
}

.bill-card__header {
  margin-bottom: 12px;
}

.bill-card__memo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0px;
  border-bottom: 1px solid #e5e5e5;
}

.bill-card__memo-item:nth-last-child(1) {
  border-bottom: 0px;
}

.bill-card__memo-item p {
  color: #4d4d4d;
  text-transform: capitalize;
}

.bill-card__memo-item span {
  color: #1a1a1a;
  text-transform: capitalize;
}

/** Counter-btn Component  NEEDED */
.counter-btn {
  width: 34px;
  border: 0;
  height: 34px;
  border-radius: 100%;
  background-color: #f2f2f2;
  flex-shrink: 0;
  color: #666666;
}

.counter-btn:hover {
  color: #1a1a1a;
}

.counter-btn-wrapper {
  position: relative;
  width: 125px;
  height: 50px;
  padding: 8px;
  border-radius: 170px;
  border: 1px solid #e5e5e5;
  display: flex;
  justify-content: space-around;
}

.counter-btn-counter {
  width: 40px;
  display: flex;
  align-items: center;
  border: 0;
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #1a1a1a;
}

/** Range Component  */

.shoping-cart {
  padding-top: 40px;
}

@media (max-width: 991px) {
  .shoping-cart__content .cart-table {
    display: none;
  }
}

@media (min-width: 992px) {
  .shoping-cart__mobile {
    display: none;
  }
}

.shoping-cart__mobile .shoping-card {
  border-bottom: 0px;
}

.cart-table {
  position: relative;
  border-radius: 8px;
  border: 1px solid #e5e5e5;
  overflow: hidden;
  margin-bottom: 24px;
}

.cart-table-title {
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.03em;
  font-weight: 500;
  color: #808080;
  text-transform: uppercase;
  padding: 16px 24px !important;
  border-color: #e5e5e5 !important;
}

.cart-table tbody tr {
  position: relative;
}

.cart-table tbody tr::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 95%;
  height: 1px;
  background-color: #e5e5e5;
}

.cart-table tbody tr:nth-last-child(1)::after {
  height: 0px;
}

.cart-table-item {
  position: relative;
  padding: 12px 24px !important;
  border: 0px;
}

@media (max-width: 991px) {
  .cart-table-item {
    padding: 12px !important;
  }
}

.cart-table-item:nth-child(1) {
  padding-top: 0px !important;
}

.cart-table-item.order-subtotal p {
  margin-right: 15px;
}

.cart-table__product-item {
  display: flex;
  align-items: center;
}

.cart-table__product-item-img {
  width: 100px;
  height: 100px;
  overflow: hidden;
  margin-right: 20px;
}

.cart-table__product-item-img img {
  width: inherit;
  height: inherit;
  -o-object-fit: cover;
  object-fit: cover;
}

.cart-table__product-item h5 {
  font-size: 16px;
  line-height: 24px;
  color: #1a1a1a;
  font-weight: 400;
}

.cart-table-action-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 20px;
  border-top: 1px solid #e5e5e5;
}

.cart-table-action-btn .button {
  background-color: #f2f2f2;
  color: #4d4d4d;
  font-weight: 600;
}

@media (max-width: 480px) {
  .cart-table-action-btn .button {
    font-size: 12px;
    padding: 14px;
  }
}

.cart-table-action-btn .button:hover {
  background-color: #e5e5e5;
}

.newsletter-card {
  position: relative;
  border-radius: 8px;
  border: 1px solid #e5e5e5;
  padding: 30px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 1200px) {
  .newsletter-card {
    flex-direction: column;
  }
}

@media (max-width: 991px) {
  .newsletter-card {
    margin-bottom: 24px;
  }
}

.newsletter-card-title {
  text-transform: capitalize;
  color: #1a1a1a;
}

@media (max-width: 1200px) {
  .newsletter-card-title {
    margin-bottom: 30px;
  }
}

.newsletter-card__input {
  position: relative;
  width: 520px;
  height: 52px;
  border-radius: 46px;
}

@media (max-width: 1400px) {
  .newsletter-card__input {
    width: 550px;
  }
}

@media (max-width: 767px) {
  .newsletter-card__input {
    width: 450px;
  }
}

@media (max-width: 480px) {
  .newsletter-card__input {
    width: 100%;
  }
}

.newsletter-card__input input {
  width: 80%;
  height: inherit;
  border-radius: inherit;
  overflow: hidden;
  border: 1px solid #e5e5e5;
  padding-left: 24px;
  padding-right: 50px;
  font-size: 16px;
  line-height: 24px;
  color: #1a1a1a;
}

.newsletter-card__input input:hover {
  border-color: #cccccc;
  transition: all 0.3s linear;
}

.newsletter-card__input input::-moz-placeholder {
  color: #999999;
}

.newsletter-card__input button {
  position: absolute;
  top: 0;
  right: 0px;
  background-color: #333333;
  color: #fff;
  z-index: 9;
}

.newsletter-card__input button:hover {
  background-color: #4d4d4d;
}

@media (max-width: 480px) {
  .newsletter-card__input button {
    font-size: 14px;
    padding: 16px;
  }
}

.home-container9 {
  width: 100%;
  display: flex;
  min-height: 35vh;
  align-items: center;
  flex-direction: column;
}

.home-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}

.home-links-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.home-container4 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}

.home-text29 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}

.home-text32 {
  margin-bottom: var(--dl-space-space-unit);
}

.home-text33 {
  margin-bottom: var(--dl-space-space-unit);
}

.home-text35 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}

.home-text36 {
  margin-bottom: var(--dl-space-space-unit);
}

.home-text37 {
  margin-bottom: var(--dl-space-space-unit);
}

.home-text39 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}

.home-text40 {
  margin-bottom: var(--dl-space-space-unit);
}

.home-text41 {
  margin-bottom: var(--dl-space-space-unit);
}

.home-text42 {
  margin-bottom: var(--dl-space-space-unit);
}

.home-text43 {
  margin-bottom: var(--dl-space-space-unit);
}

@media(max-width: 991px) {

  .home-footer {
    flex-direction: column;
  }

  .home-links-container {
    width: auto;
    margin-top: var(--dl-space-space-twounits);
    flex-direction: row;
  }

  .home-container4 {
    flex-wrap: wrap;
    margin-right: 0px;
  }
}

@media(max-width: 767px) {

  .home-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }

  .home-links-container {
    width: auto;
    margin-top: var(--dl-space-space-twounits);
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }

  .home-container4 {
    width: 100%;
    justify-content: space-between;
  }
}

@media(max-width: 479px) {

  .home-footer {
    padding: var(--dl-space-space-unit);
  }

  .home-links-container {
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
  }

  .home-container4 {
    align-items: center;
    margin-right: 0px;
    justify-content: space-between;
  }
}














:root {
  --dl-size-size-large: 144px;
  --dl-size-size-small: 48px;
  --dl-size-size-medium: 96px;
  --dl-size-size-xlarge: 192px;
  --dl-size-size-xsmall: 16px;
  --dl-space-space-unit: 16px;
  --dl-size-size-xxlarge: 288px;
  --dl-color-scheme-white: #FFFFFF;
  --dl-size-size-maxwidth: 1144px;
  --dl-radius-radius-round: 50%;
  --dl-color-scheme-green80: #105749ff;
  --dl-space-space-halfunit: 8px;
  --dl-space-space-sixunits: 96px;
  --dl-space-space-twounits: 32px;
  --dl-color-scheme-green100: #0c4237ff;
  --dl-color-scheme-orange80: #ffc78bff;
  --dl-color-scheme-yellow20: #fffef3ff;
  --dl-color-scheme-yellow80: #fff6a7ff;
  --dl-radius-radius-radius2: 2px;
  --dl-radius-radius-radius4: 4px;
  --dl-radius-radius-radius8: 8px;
  --dl-space-space-fiveunits: 80px;
  --dl-space-space-fourunits: 64px;
  --dl-color-scheme-orange100: #ffad61ff;
  --dl-radius-radius-radius16: 16px;
  --dl-space-space-eightunits: 128px;
  --dl-space-space-threeunits: 48px;
  --dl-color-scheme-lightgreen: #c7ff9bff;
  --dl-space-space-oneandhalfunits: 24px;
}

.footer-column {
  width: 15%;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  justify-content: flex-start;
}

@media(max-width: 767px) {

  .footer-column {
    width: 30%;
  }
}

@media(max-width: 479px) {
  .footer-column {
    width: 50%;
  }
}


a {
  color: inherit;
  text-decoration: none
}