{% extends "layout.html" %} {% block title %} Home {% endblock %} {% block main
%}
<head>
  <link
    rel="icon"
    type="image/png"
    href="src/images/favicon/favicon-16x16.png"
  />
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous"
  />
  <link rel="stylesheet" href="/static/cart.css" />
</head>

<body>
  <!-- Shopping Cart Section Start -->
  <section class="shoping-cart section section--xl">
    <div class="container">
      <div class="section__head justify-content-center">
        <h2 class="section--title-four font-title--sm">My Shopping Cart</h2>
      </div>
      <div class="row shoping-cart__content">
        <div class="col-lg-8">
          <div class="cart-table">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col" class="cart-table-title">Product</th>
                    <th scope="col" class="cart-table-title">Price</th>
                    <th scope="col" class="cart-table-title">Quantity</th>
                    <th scope="col" class="cart-table-title">Subtotal</th>
                  </tr>
                </thead>
                <tbody>
                  <tr id="cart-item-0">
                    <td class="cart-table-item align-middle">
                      <a
                        class="cart-table__product-item"
                        href="/main/product-details"
                      >
                        <div class="cart-table__product-item-img">
                          <img
                            src="src/images/products/img-01.png"
                            alt="product"
                          />
                        </div>
                        <h5 class="font-body--lg-400">Green Apple</h5>
                      </a>
                    </td>
                    <td class="cart-table-item order-date align-middle">
                      $14.00
                    </td>
                    <td class="cart-table-item order-total align-middle">
                      <div class="counter-btn-wrapper">
                        <button
                          class="counter-btn-dec counter-btn"
                          onclick="decrement(0)"
                        >
                          -
                        </button>
                        <input
                          type="number"
                          id="counter-btn-counter-0"
                          class="counter-btn-counter"
                          min="0"
                          value="0"
                          placeholder="0"
                          onchange="updateSubtotal()"
                        />
                        <button
                          class="counter-btn-inc counter-btn"
                          onclick="increment(0)"
                        >
                          +
                        </button>
                      </div>
                    </td>
                    <td class="cart-table-item order-subtotal align-middle">
                      <div
                        class="d-flex justify-content-between align-items-center"
                      >
                        <p id="subtotal-0" class="font-body--md-500">$0.00</p>
                        <button class="delete-item" onclick="removeItem(0)">
                          <svg
                            width="24"
                            height="25"
                            viewBox="0 0 24 25"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                              d="M12 23.5C18.0748 23.5 23 18.5748 23 12.5C23 6.42525 18.0748 1.5 12 1.5C5.92525 1.5 1 6.42525 1 12.5C1 18.5748 5.92525 23.5 12 23.5Z"
                              stroke="#CCCCCC"
                              stroke-miterlimit="10"
                            ></path>
                            <path
                              d="M16 8.5L8 16.5"
                              stroke="#666666"
                              stroke-width="1.5"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                            ></path>
                            <path
                              d="M16 16.5L8 8.5"
                              stroke="#666666"
                              stroke-width="1.5"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                            ></path>
                          </svg>
                        </button>
                      </div>
                    </td>
                  </tr>
                  <tr id="cart-item-1">
                    <td class="cart-table-item align-middle">
                      <a
                        class="cart-table__product-item"
                        href="/main/product-details"
                      >
                        <div class="cart-table__product-item-img">
                          <img
                            src="src/images/products/img-02.png"
                            alt="product"
                          />
                        </div>
                        <h5 class="font-body--lg-400">Fresh Orange</h5>
                      </a>
                    </td>
                    <td class="cart-table-item order-date align-middle">
                      $14.00
                    </td>
                    <td class="cart-table-item order-total align-middle">
                      <div class="counter-btn-wrapper">
                        <button
                          class="counter-btn-dec counter-btn"
                          onclick="decrement(1)"
                        >
                          -
                        </button>
                        <input
                          type="number"
                          id="counter-btn-counter-1"
                          class="counter-btn-counter"
                          min="0"
                          value="0"
                          placeholder="0"
                          onchange="updateSubtotal()"
                        />
                        <button
                          class="counter-btn-inc counter-btn"
                          onclick="increment(1)"
                        >
                          +
                        </button>
                      </div>
                    </td>
                    <td class="cart-table-item order-subtotal align-middle">
                      <div
                        class="d-flex justify-content-between align-items-center"
                      >
                        <p id="subtotal-1" class="font-body--md-500">$0.00</p>
                        <button class="delete-item" onclick="removeItem(1)">
                          <svg
                            width="24"
                            height="25"
                            viewBox="0 0 24 25"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                              d="M12 23.5C18.0748 23.5 23 18.5748 23 12.5C23 6.42525 18.0748 1.5 12 1.5C5.92525 1.5 1 6.42525 1 12.5C1 18.5748 5.92525 23.5 12 23.5Z"
                              stroke="#CCCCCC"
                              stroke-miterlimit="10"
                            ></path>
                            <path
                              d="M16 8.5L8 16.5"
                              stroke="#666666"
                              stroke-width="1.5"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                            ></path>
                            <path
                              d="M16 16.5L8 8.5"
                              stroke="#666666"
                              stroke-width="1.5"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                            ></path>
                          </svg>
                        </button>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- Action Buttons -->
            <form action="#">
              <div class="cart-table-action-btn d-flex">
                <a
                  class="button button--md button--disable shop"
                  href="/main/shop-01"
                  >Return to Shop</a
                >
                <a
                  href="#"
                  class="button button--md button--disable update"
                  onclick="updateCart()"
                  >Update Cart</a
                >
              </div>
            </form>
          </div>

          <div class="shoping-cart__mobile">
            <div class="shoping-card">
              <div class="shoping-card__img-wrapper">
                <img src="src/images/products/img-01.png" alt="product-item" />
              </div>
              <h5 class="shoping-card__product-caption font-body--lg-400">
                Green Apple
              </h5>
              <h6 class="shoping-card__product-price font-body--lg-400">
                $45.00
              </h6>
              <div class="counter-btn-wrapper">
                <button
                  class="counter-btn-dec counter-btn"
                  onclick="decrement(0)"
                >
                  -
                </button>
                <input
                  type="number"
                  id="counter-btn-counter-0"
                  class="counter-btn-counter"
                  min="0"
                  value="0"
                  placeholder="0"
                  onchange="updateSubtotal()"
                />
                <button
                  class="counter-btn-inc counter-btn"
                  onclick="increment(0)"
                >
                  +
                </button>
              </div>
              <h6 class="shoping-card__product-totalprice font-body--lg-600">
                $225.00
              </h6>
              <button class="delete-item" onclick="removeItem(0)">
                <svg
                  width="24"
                  height="25"
                  viewBox="0 0 24 25"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M12 23.5C18.0748 23.5 23 18.5748 23 12.5C23 6.42525 18.0748 1.5 12 1.5C5.92525 1.5 1 6.42525 1 12.5C1 18.5748 5.92525 23.5 12 23.5Z"
                    stroke="#CCCCCC"
                    stroke-miterlimit="10"
                  ></path>
                  <path
                    d="M16 8.5L8 16.5"
                    stroke="#666666"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                  <path
                    d="M16 16.5L8 8.5"
                    stroke="#666666"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                </svg>
              </button>
            </div>
            <div class="shoping-card">
              <div class="shoping-card__img-wrapper">
                <img src="src/images/products/img-02.png" alt="product-item" />
              </div>
              <h5 class="shoping-card__product-caption font-body--lg-400">
                Fresh Orange
              </h5>
              <h6 class="shoping-card__product-price font-body--lg-400">
                $45.00
              </h6>
              <div class="counter-btn-wrapper">
                <button
                  class="counter-btn-dec counter-btn"
                  onclick="decrement(1)"
                >
                  -
                </button>
                <input
                  type="number"
                  id="counter-btn-counter-1"
                  class="counter-btn-counter"
                  min="0"
                  value="0"
                  placeholder="0"
                  onchange="updateSubtotal()"
                />
                <button
                  class="counter-btn-inc counter-btn"
                  onclick="increment(1)"
                >
                  +
                </button>
              </div>
              <h6 class="shoping-card__product-totalprice font-body--lg-600">
                $225.00
              </h6>
              <button class="delete-item" onclick="removeItem(1)">
                <svg
                  width="24"
                  height="25"
                  viewBox="0 0 24 25"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M12 23.5C18.0748 23.5 23 18.5748 23 12.5C23 6.42525 18.0748 1.5 12 1.5C5.92525 1.5 1 6.42525 1 12.5C1 18.5748 5.92525 23.5 12 23.5Z"
                    stroke="#CCCCCC"
                    stroke-miterlimit="10"
                  ></path>
                  <path
                    d="M16 8.5L8 16.5"
                    stroke="#666666"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                  <path
                    d="M16 16.5L8 8.5"
                    stroke="#666666"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                </svg>
              </button>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="shoping-cart__summary">
            <h4 class="shoping-cart__summary-title font-body--lg-600">
              Cart Summary
            </h4>
            <div class="shoping-cart__summary-item">
              <div class="d-flex justify-content-between">
                <p class="font-body--sm-500">Subtotal</p>
                <p class="font-body--sm-500" id="cart-total">$0.00</p>
              </div>
            </div>
            <div class="shoping-cart__summary-item">
              <div class="d-flex justify-content-between">
                <p class="font-body--sm-500">Shipping</p>
                <p class="font-body--sm-500">Free</p>
              </div>
            </div>
            <div class="shoping-cart__summary-item border-bottom">
              <div class="d-flex justify-content-between">
                <p class="font-body--sm-500">Total</p>
                <p class="font-body--sm-500" id="cart-total-summary">$0.00</p>
              </div>
            </div>
            <a
              class="button button--md button--primary checkout"
              href="javascript:void(0);"
              onclick="proceedToCheckout()"
              >Proceed to Checkout</a
            >
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Shopping Cart Section End -->

  <script>
    let quantities = [0, 0]; // Initialize quantities for each product
    let prices = [14.0, 14.0]; // Prices for each product

    function updateSubtotal() {
      let total = 0; // Reset total
      for (let i = 0; i < quantities.length; i++) {
        const input = document.getElementById(`counter-btn-counter-${i}`);
        const quantity = parseInt(input.value) || 0; // Get current quantity
        quantities[i] = quantity; // Update quantities array
        const subtotal = (quantity * prices[i]).toFixed(2); // Calculate subtotal
        document.getElementById(`subtotal-${i}`).innerText = `$${subtotal}`; // Update subtotal display
        total += quantity * prices[i]; // Add to total
      }
      const totalDisplay = total.toFixed(2);
      document.getElementById("cart-total").innerText = `$${totalDisplay}`; // Update cart total
      document.getElementById(
        "cart-total-summary"
      ).innerText = `$${totalDisplay}`; // Update summary total
    }

    function increment(index) {
      const input = document.getElementById(`counter-btn-counter-${index}`);
      input.value = parseInt(input.value) + 1; // Increment quantity
      updateSubtotal(); // Update subtotal
    }

    function decrement(index) {
      const input = document.getElementById(`counter-btn-counter-${index}`);
      if (parseInt(input.value) > 0) {
        input.value = parseInt(input.value) - 1; // Decrement quantity
        updateSubtotal(); // Update subtotal
      }
    }

    function removeItem(index) {
      document.getElementById(`cart-item-${index}`).style.display = "none"; // Remove item from cart
      quantities[index] = 0; // Reset quantity
      updateSubtotal(); // Update subtotal
    }

    function updateCart() {
      alert("Cart has been updated!"); // Placeholder for cart update logic
      updateSubtotal(); // Recalculate subtotal after updates
    }

    function proceedToCheckout() {
      const selectedItems = [];
      const prices = [14.0, 14.0]; // Prices for each item, adjust as necessary

      // Collect selected items and their quantities
      for (let i = 0; i < quantities.length; i++) {
        const quantity =
          parseInt(document.querySelector(`#counter-btn-counter-${i}`).value) ||
          0;
        if (quantity > 0) {
          selectedItems.push({
            product: i === 0 ? "Green Apple" : "Fresh Orange", // Adjust as necessary
            quantity: quantity,
            price: prices[i],
          });
        }
      }

      // Save selected items to local storage
      localStorage.setItem("cartItems", JSON.stringify(selectedItems));

      // Redirect to checkout page
      window.location.href = "/checkout"; // Adjust this to your route
    }
  </script>
</body>

{% endblock %}
