{% extends "layout.html" %}

{% block title %}
Home
{% endblock %}

{% block main %}
<form action="/" , method="get">
  <div class="home-container">
    <div class="hero-container section-container">
      <div class="home-max-width1 max-width">
        <div class="home-content">
          <h1 class="home-title">What Is Groptimizer ?</h1>
          <span class="home-description">
            Groptimizer is a community-driven organization dedicated to
            optimizing grocery resources. Our mission is to redistribute
            nearly expired food by delivering it to food banks, homeless
            shelters, and individuals facing food insecurity.
          </span>
          <div class="home-container1">
            <button class="button button-gradient"><a href="/register">Register</a></button>
            <button class="button button-transparent"><a href="/login">Log in</a></button>
          </div>
        </div>
        <div class="home-image1">
          <img alt="image"
            src="https://images.unsplash.com/photo-1526470498-9ae73c665de8?ixid=M3w5MTMyMXwwfDF8c2VhcmNofDl8fGdyb2Nlcnl8ZW58MHx8fHwxNzAyMDY3MDY3fDA&amp;ixlib=rb-4.0.3&amp;w=600"
            class="home-hero-image" />
          <img alt="image" src="static/triangle-pattern-top.png" class="home-graphic-top" />
          <img alt="image" src="static/triangle-pattern-bottom.png" class="home-image2" />
        </div>
      </div>
    </div>
    <div class="home-section2 section-container">
      <div class="home-max-width2 max-width">
        <div class="home-image3">
          <img alt="image"
            src="https://images.unsplash.com/photo-1604881991720-f91add269bed?ixid=M3w5MTMyMXwwfDF8c2VhcmNofDE1fHxoZWxwfGVufDB8fHx8MTcwMjA2Njk4OHww&amp;ixlib=rb-4.0.3&amp;w=1200"
            class="home-hero-image1" />
        </div>
        <div class="home-content1">
          <span id="about-us" class="home-text04 beforeHeading">how it works</span>
          <h1 class="home-text05">About Us</h1>
          <span class="home-text06">
            Welcome to Groptimizer, an initiative led by passionate students
            from PSG College of Technology committed to addressing food
            waste and hunger. We are dedicated to rescuing surplus, nearly
            expired food and redirecting it to food banks, homeless
            shelters, and individuals in need. Through strategic
            partnerships with local businesses, we aim to minimize food
            waste while providing sustenance to those facing food
            insecurity. Join us in creating a more sustainable,
            compassionate community where no one goes hungry. Together, we
            can make a meaningful difference.
          </span>
          <div class="home-container2">
            <button class="button-secondary button bg-transparent">
              Learn more
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="home-section1 section-container">
      <div class="home-max-width3 max-width">
        <div id="mission" class="home-content2">
          <span class="home-text07 beforeHeading">
            Recycle - reuse - reduce
          </span>
          <h1 class="home-text08">
            <span class="home-text09">Our Mission</span>
            <br />
          </h1>
          <span class="home-text11">
            To reduce food waste and alleviate hunger by collecting and
            redistributing nearly expired food to food banks, homeless
            shelters, and individuals in need, fostering a more sustainable
            and compassionate community.
          </span>
          <div class="home-container3">
            <button class="button-secondary button bg-transparent">
              See how
            </button>
          </div>
        </div>
        <div class="home-image4">
          <img alt="image"
            src="https://images.unsplash.com/photo-1695653423053-64e76a128f1c?ixid=M3w5MTMyMXwxfDF8c2VhcmNofDE1fHxncm9jZXJ5fGVufDB8fHx8MTcwMjA2NzA2N3ww&amp;ixlib=rb-4.0.3&amp;w=1200"
            class="home-hero-image2" />
        </div>
      </div>
    </div>
    <div class="home-section3 section-container">
      <div class="home-max-width4 max-width">
        <div id="contact-us" class="home-banner">
          <h1 class="home-text12">Contact Us</h1>
          <span class="home-text13">
            <span>Reach Out To Us At</span>
            <br />
            <br />
            <span>reachout@groptimizer.com</span>
            <br />
            <span>+91 999-000-9999</span>
            <br />
            <br />
          </span>
          <span class="home-text22">
            <span>Meet Us At&nbsp;</span>
            <br />
            <span>PSG College Of Technology</span>
            <br />
            <span>Peelamedu, Coimbatore - 004</span>
            <br />
          </span>
        </div>
      </div>
    </div>
    <div class="home-section4 section-container2">
      <div class="home-max-width4 max-width">
        <footer class="home-footer">
          <div class="home-links-container">
            <div class="home-container4">
              <div class="footer-column">
                <span class="home-text29">App</span>
                <span class="home-text32">Log in to Portal</span>
                <span class="home-text33">Administrative</span>
              </div>
              <div class="footer-column">
                <span class="home-text35">Organization</span>
                <span class="home-text36"><a href="#about-us">About</a></span>
                <span class="home-text37">Code of conduct</span>
                <span><a href="#contact-us">Contact Us</a></span>
              </div>
              <div class="footer-column">
                <span class="home-text39">Follow</span>
                <span class="home-text40">Instagram</span>
                <span class="home-text41">Twitter</span>
                <span class="home-text42">Facebook</span>
                <span class="home-text43">Linkedln</span>
                <span>Youtube</span>
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>
  </div>
  </div>
  <script>
    window.onload = () => {
      const runAllScripts = () => {
        initializeAllAccordions()
      }

      const listenForUrlChanges = () => {
        let url = location.href
        document.body.addEventListener(
          'click',
          () => {
            requestAnimationFrame(() => {
              if (url !== location.href) {
                runAllScripts()
                url = location.href
              }
            })
          },
          true
        )
      }

      const initializeAllAccordions = () => {
        const allAccordions = document.querySelectorAll('[data-role="Accordion"]');

        allAccordions.forEach((accordion) => {
          const accordionHeader = accordion.querySelector('[data-type="accordion-header"]')
          const accordionContent = accordion.querySelector('[data-type="accordion-content"]')

          accordionHeader.addEventListener('click', () => {
            if (accordionContent.style.maxHeight) {
              accordionContent.style.maxHeight = ''
            } else {
              accordionContent.style.maxHeight = `${accordionContent.scrollHeight}px`
            }
          })
        })
      }

      listenForUrlChanges()
      runAllScripts()
    }

    let lastScrollTop = 0;

    window.addEventListener("scroll", function () {
      let currentScroll = window.pageYOffset || document.documentElement.scrollTop;
      if (currentScroll > lastScrollTop) {
        // Scroll down
        document.querySelector(".navbar-container").classList.add("hidden");
      } else {
        // Scroll up
        document.querySelector(".navbar-container").classList.remove("hidden");
      }
      lastScrollTop = currentScroll <= 0 ? 0 : currentScroll;
    });
  </script>
</form>
{% endblock %}