{% extends "layout.html" %}

{% block title %}
    Login
{% endblock %}

{% block main %}
<form action="/login" method="post">
  <div class="hero">
    <div class="form-box">
      <div class="login-title">
        Login - Groptimizer 
      </div>
      <div class="input-group">
        <div class="radio">
          <label>Groccery Store</label>
          <input type="radio" value="Groccery Store" name="options" required/>
          <label>&nbsp;&nbsp; Food Bank </label>
          <input type="radio" value="Food Bank" name="options"/>
        </div>
        <input type="text" class="input-field" name="username" placeholder="Username" required/>
        <input type="password" class="input-field" name="password" placeholder="Enter Password" required />
        <div style="display:block"><input type="checkbox" class="check-box" />
          <span class="login-remember-password">Remember Password</span></div>
        <div style="justify-content: center;align-items:center;display:flex;width: 100%;"><button type="submit" class="submit-btn">Login</button></div>
      </div>
        <img src="/static/login-poster.jpg" style="height:300px; width:600px; float:right; border-radius: 40px; margin-right: 5%;" alt="login-poster" />
    </div>
  </div>
</form>
{% endblock %}
