{% extends "layout.html" %} {% block title %} Home {% endblock %} {% block main
%}

<head>
  <link href="/static/store.css" rel="stylesheet" />
  <script>
    function addToCart(itemName, itemPrice) {
      alert(`Added to the cart!`);
      // You can add more logic here to handle the cart functionality.
    }
  </script>
</head>

<body>
  <div class="b1">
    <div>
      <h1 class="header m-22">Hotel Name</h1>
    </div>
    <div class="h10">
      <div class="h121">
        <div class="h122">
          <div class="h123">4.1 (5k + ratings)</div>
          <div class="h124">Indian <span class="w12">,</span> South Indian</div>
          <div class="h129">
            <div class="h130">
              <div class="h131"></div>
              <div class="h132"></div>
              <div class="h133"></div>
            </div>
            <div class="h134">
              <div class="h135">
                <div class="h136">RS Puram</div>
                <div class="h137">Coimbatore</div>
              </div>
              <div class="h138">
                <div class="h139">Open & Serving</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="h140">
      <div class="h141">
        <span class="efont" id="copy-emoji">🍴</span>Available Food and
        Groceries<span class="efont" id="copy-emoji">🍴</span>
      </div>
    </div>
    <div class="h142">
      <form>
        <input
          type="search"
          placeholder="Search for items"
          autofocus
          autocomplete="off"
          class="h143"
        />
      </form>
    </div>
    <div class="h144"></div>
    <div class="h145">
      <div>
        <button
          class="h148"
          data-cy="Fruits available"
          aria-label="Category: fruits, 
                    2 items available"
          aria-expanded="true"
          data-role="category-heading"
        >
          <h3 class="h149">Fruits (2)</h3>
          <div class="h150"><span>&#8595;</span></div>
        </button>
        <div class="h155"></div>
      </div>
      <div>
        <div>
          <div data-testid="normal-food-item" class="h152">
            <div class="h153">
              <div>
                <div aria-hidden="true" class="h154">Fresh Orange</div>
                <div class="156">
                  <div class="157">
                    <span class="h158">
                      <div class="159">
                        <span class="h160">1kg = ₹30</span>
                      </div>
                    </span>
                  </div>
                </div>
                <div class="h161">
                  <div class="h162">Total orders today: 67</div>
                </div>
              </div>
              <div aria-hidden="true" class="h163">
                <div class="h164">
                  <div style="position: relative">
                    <div class="h165">
                      <div class="h166">
                        <button class="h167">
                          <div class="h168">−</div>
                        </button>
                        <div class="h169">
                          <button
                            class="h170"
                            onclick="addToCart('Fresh Orange', 30)"
                          >
                            <div class="h171">Add</div>
                          </button>
                          <button
                            class="h172"
                            onclick="addToCart('Fresh Orange', 30)"
                          >
                            <div class="h173">Add</div>
                          </button>
                          <button class="h174">
                            <div class="h175">1</div>
                          </button>
                        </div>
                        <button
                          class="h176"
                          onclick="adjustQuantity('Fresh Orange', 30, 1)"
                        >
                          <div class="h177">+</div>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="h144"></div>
      <div>
        <div data-testid="normal-food-item" class="h152">
          <div class="h153">
            <div>
              <div aria-hidden="true" class="h154">Green Apple</div>
              <div class="156">
                <div class="157">
                  <span class="h158">
                    <div class="159">
                      <span class="h160">1kg = ₹80</span>
                    </div>
                  </span>
                </div>
              </div>
              <div class="h161">
                <div class="h162">Total orders today: 101</div>
              </div>
            </div>
            <div aria-hidden="true" class="h163">
              <div class="h164">
                <div style="position: relative">
                  <div class="h165">
                    <div class="h166">
                      <button class="h167">
                        <div class="h168">−</div>
                      </button>
                      <div class="h169">
                        <button
                          class="h170"
                          onclick="addToCart('Green Apple', 80)"
                        >
                          <div class="h171">Add</div>
                        </button>
                        <button
                          class="h172"
                          onclick="addToCart('Fresh Orange', 30)"
                        >
                          <div class="h173">Add</div>
                        </button>
                        <button class="h174">
                          <div class="h175">1</div>
                        </button>
                      </div>
                      <button
                        class="h176"
                        onclick="adjustQuantity('Green Apple', 80, 1)"
                      >
                        <div class="h177">+</div>
                      </button>
                    </div>
                  </div>
                  <div
                    class="go-to-cart"
                    style="margin: 20px; margin-top: 60px"
                  >
                    <button
                      onclick="window.location.href='/cart'"
                      class="cart-button"
                    >
                      Go to Cart
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="home-container9">
    <footer class="home-footer">
      <div class="home-links-container">
        <div class="home-container4">
          <div class="footer-column">
            <span class="home-text29">App</span>
            <span class="home-text32">Log in to Portal</span>
            <span class="home-text33">Administrative</span>
          </div>
          <div class="footer-column">
            <span class="home-text35">Organization</span>
            <span class="home-text36"><a href="#about-us">About</a></span>
            <span class="home-text37">Code of conduct</span>
            <span><a href="#contact-us">Contact Us</a></span>
          </div>
          <div class="footer-column">
            <span class="home-text39">Follow</span>
            <span class="home-text40">Instagram</span>
            <span class="home-text41">Twitter</span>
            <span class="home-text42">Facebook</span>
            <span class="home-text43">Linkedln</span>
            <span>Youtube</span>
          </div>
        </div>
      </div>
    </footer>
  </div>
</body>

{% endblock %}
